/*──────────────────────────────────────────────────
  ─ Main
──────────────────────────────────────────────────*/
$pal_main          : #FFF;
$pal_main_secondary: #343D46;


/*──────────────────────────────────────────────────
  ─ Website
──────────────────────────────────────────────────*/
$pal_website          : #E91E63;
$pal_website_secondary: #9C27B0;


/*──────────────────────────────────────────────────
  ─ Font
──────────────────────────────────────────────────*/
$pal_font          : #FFF;
$pal_font_secondary: #343D46;